/* Variables */

:root {
  --primary-color: burlywood;
  --secondary-color: gray;
  --card-background-1: rgb(201, 94, 94);
  --card-background-2: #000;

  --type-normal: ghostwhite;
  --type-fighting: chocolate;
  --type-flying: lightblue;
  --type-poison: purple;
  --type-ground: brown;
  --type-rock: gray;
  --type-bug: darkgreen;
  --type-ghost: darkslateblue;
  --type-steel: silver;
  --type-fire: red;
  --type-water: blue;
  --type-grass: green;
  --type-electric: yellow;
  --type-psychic: violet;
  --type-ice: lightblue;
  --type-dragon: darkviolet;
  --type-dark: dark;
  --type-fairy: pink;
  --type-unknown: white;
  --type-shadow: dimgrey;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Estilos */

body {
  background: rgba(229, 240, 182, 0.25);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  display: flex;
}

.search {
  border: 1px solid black;
  width: 60%;
}
.display {
  border: 1px solid black;
  width: 40%;
}

.title {
  text-align: center;
}

.btn {
  width: 250px;
  padding: 1rem 0px;
  font-size: 24px;
  margin-top: 2.5rem;
  background-color: salmon;
  border: none;
  color: azure;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  cursor: pointer;
}