/* Variables */

:root {
  --primary-color: burlywood;
  --secondary-color: gray;
  --card-background-1: rgb(201, 94, 94);
  --card-background-2: #000;
}

/* Box sizing */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Estilos */

